<!DOCTYPE html>
<html>

<head>
  <title>Zainab Todo</title>
  <link href="/style.css" rel="stylesheet" />
</head>

<body>
  <div class="logo-ctn">
    <img class="logo" src="/images/zainab.png" alt="Zainab-Logo">
  </div>

  <div id="todo-error-message" class="error-message"></div>
  <section class="todo-list-cont">
    <header class="header">
      <h1>Todo List</h1>
      <div class="button-ctn">
        <button id="open-modal-btn">Add Todo</button>
        <button class="open-logout-modal-btn">Logout</button>
      </div>
    </header>

    <div class="todos-ctns">
      <% if (todos.length===0) { %>
        <h2>You have no Todo added</h2>
        <% } else { %>
          <% todos.forEach(todo=> { %>
            <div class="todo-ctn <%= todo.status === 'completed' ? 'todo-complete' : '' %>"
              data-status="<%= todo.status %>" data-id="<%= todo._id %>">
              <input type="checkbox" value="<%= todo._id %>" class="check-btn" id="<%= todo.title %>" />
              <div class="todo">
                <div class="todo-details">
                  <label data-id="<%= todo._id %>" for="<%= todo.title %>">
                    <%= todo.title %>
                  </label>
                  <p>
                    <%= todo.description %>
                  </p>
                </div>

                <div class="div-btn">
                  <div class="status-tag">
                    <div class="circle"></div>
                    <%= todo.status %>
                  </div>
                  <button class="delete-btn">x</button>
                </div>
              </div>
            </div>
            <% }); %>
              <% } %>
    </div>
    </div>

    <section id="modal" class="modal hidden">
      <form id="todo-form" class="form">
        <label>
          Title
          <input class="title" type="text" name="title" required />
        </label>

        <label>
          Description
          <textarea class="description" name="description"></textarea>
        </label>
        <div class="btns">
          <button type="submit" class="add-todo-btn">Add Todo</button>
          <button type="button" id="close-modal-btn">Cancel</button>
        </div>
      </form>
    </section>
    <div id="add-todo-overlay" class="overlay hidden"></div>

    <section id="logout-modal" class="modal hidden">
      <h3>
        Are you sure you want to logout?
      </h3>
      <div class="btns">
        <a class="logout-btn" href="/logout">Logout</a>
        <button type="button" id="close-logout-btn">Cancel</button>
      </div>
    </section>
    <div id="logout-overlay" class="overlay hidden"></div>

    <script src="./script.js"></script>
</body>

</html>